body{

background-color:#00203FFF;
color:#ADEFD1FF;
width:1000px;
margin:auto;
}

header{

background-color:#ADEFD1FF;
color:#00203FFF;
height:80px;
width:100%;
position:fixed;
top:0px;
left:0px;
right:0px;
text-align:center;
vertical-align:center;
}

footer{

background-color:#ADEFD1FF;
color:#00203FFF;
height:60px;
width:100%;
position:fixed;
bottom:0px;
left:0px;
right:0px;
}  

p{

font-family: Bradley Hand;
font-size:25px;
font-weight:bold;
color:#ADEFD1FF;
text-align:center;
}

li{

font-family: Bradley Hand;
font-size:25px;
font-weight:bold;
color:#00203FFF;
}

h1{

font-family: Bradley Hand;
font-size:40px;
font-weight:bold;
color:#00203FFF;
margin-top:20px;
text-align:center;
}

h2{
    
font-family: Bradley Hand;
font-size:25px;
font-weight:bold;
color:#00203FFF;
text-align:center;    
}

h6{ 

font-family: Bradley Hand;
font-size:20px;
font-weight:bold;
color:#00203FFF;
margin-top:5px;
text-align:center;
}
          

    
        








        
        
